﻿@using System.Net
@inherits MiniRazor.TemplateBase<Digimuth.CrudFramework.Template.EmailEngine.Models.InvitationEmailModel>
@namespace Digimuth.CrudFramework.Template.EmailEngine.Templates
@{
    var email = WebUtility.UrlEncode(Model.Email);
    var token = WebUtility.UrlEncode(Model.Token);
    var url = string.Format(Model.UrlTemplate, email, token);
}

<mjml>
  <mj-head>
    <mj-attributes>
      <mj-all font-family="Lato, Avenir, Adobe Heiti Std, Segoe UI, Trebuchet MS, sans‑serif" />
    </mj-attributes>
    <mj-font name="Lato" href="https://fonts.googleapis.com/css?family=Lato" />
  </mj-head>
  <mj-body background-color="#F5F5F5" width="740px">
    <mj-section>
      <mj-column background-color="#FFFFFF" padding="7%">
        <mj-text font-size="24px" color="#525360" font-weight="700" padding="0">
          @(Model.FirstName) @(Model.LastName) (@(Model.Email))
        </mj-text>
        <mj-text font-size="16px" color="#525360" padding="2% 0 0 0">
          możesz dokończyć konfigurację swojego konta.
        </mj-text>
        <mj-divider padding="20px 0 20px 0" border-color="#CCCCCC" border-width="1px" />
        <mj-text padding="0" color="#525360" font-size="20px" line-height="28px" font-weight="400">
          Zostałeś zarejestrowany w serwisie. Kliknij w poniższy link, aby dokończyć rejestrację.
        </mj-text>
        <mj-button padding="40px 0 40px 0" background-color="#3662DB" border-radius="2em" text-transform="uppercase" font-size="16px" href="@url">
          Dokończ rejestrację
        </mj-button>
        <mj-text padding="0" font-size="16px" color="#525360" line-height="24px">
          Jeśli otrzymałeś tą wiadomość przypadkowo, proszę usuń ją.
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
