.passwordRequirements {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 0.8em;
  margin-left: 1em;

  &> div > div {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 12px;
    background-color: #e0e0e0;
    transition: background-color 0.2s ease;
  }

  &> div {
    color: #757575;
    transition: color 0.2s ease;

    &.passed {
      color: #81c784;

      &> div {
        background-color: #66bb6a;
      }
    }
  }
}